section {
  border: 1px black solid;
}
.header {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.main {
  display:flex;
  flex-direction: column;
  align-items: center;
}